[workspace]
members = [
	"sdk", 
	"ephemeral", 
	"delegate", 
	"commit-attribute",
	"resolver"
]

resolver = "2"

[workspace.package]
version = "0.2.1"
authors = ["Magicblock Labs <dev@magicblock.gg>"]
edition = "2021"
license = "MIT"
homepage = "https://www.magicblock.gg/"
documentation = "https://docs.magicblock.gg/"
repository = "https://github.com/magicblock-labs/ephemeral-rollups-sdk"
readme = "../README.md"
keywords = ["solana", "crypto", "delegation", "ephemeral-rollups", "magicblock"]

[workspace.dependencies]
ephemeral-rollups-sdk = { path = "sdk", version = "=0.2.1" }
ephemeral-rollups-sdk-attribute-ephemeral = { path = "ephemeral", version = "=0.2.1" }
ephemeral-rollups-sdk-attribute-delegate = { path = "delegate", version = "=0.2.1" }
ephemeral-rollups-sdk-attribute-commit = { path = "commit-attribute", version = "=0.2.1" }

## External crates
anchor-lang = "0.30.1"
borsh = "1.5.3"
paste = "1.0"
solana-program = "=2.1.11"
proc-macro2 = "1.0"
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
