[workspace]
members = [
	"sdk", 
	"ephemeral", 
	"delegate", 
	"commit-attribute",
	"resolver",
	"pinocchio",
]

resolver = "2"

[workspace.package]
version = "0.3.2"
authors = ["Magicblock Labs <dev@magicblock.gg>"]
edition = "2021"
license = "MIT"
homepage = "https://www.magicblock.gg/"
documentation = "https://docs.magicblock.gg/"
repository = "https://github.com/magicblock-labs/delegation-program"
readme = "README.md"
keywords = ["solana", "crypto", "delegation", "ephemeral-rollups", "magicblock"]

[workspace.dependencies]
ephemeral-rollups-sdk = { path = "sdk", version = "=0.3.2" }
ephemeral-rollups-sdk-attribute-ephemeral = { path = "ephemeral", version = "=0.3.2" }
ephemeral-rollups-sdk-attribute-delegate = { path = "delegate", version = "=0.3.2" }
ephemeral-rollups-sdk-attribute-commit = { path = "commit-attribute", version = "=0.3.2" }

# Magicblock
magicblock-delegation-program = { version = "1.1.1", features = ["no-entrypoint"] }
magicblock-magic-program-api = "0.1.7"

## External crates
anchor-lang = { version = ">=0.28.0" }
proc-macro2 = "1.0"
syn = { version = "1.0.60", features = ["full"] }
quote = "1.0"
magic-domain-program = { version = "=0.0.1" }

# runtime
tokio = { version = "1.0", features = [ "rt", "sync", "macros" ] }
futures = "0.3"

# sync
parking_lot = "0.12"

# network
url = { version = "2.5", features = [ "serde" ] }
websocket = { package = "tokio-websockets", version = "0.10", features = [ "client", "simd", "native-tls", "fastrand", "openssl" ] }
reqwest = { version = "0.12" }

# solana
solana-program = { version = ">=1.16" }
sdk = { package = "solana-sdk", version = ">=1.16" }
rpc = { package = "solana-rpc-client", version = ">=1.16" }
rpc-api = { package = "solana-rpc-client-api", version = ">=1.16" }
pinocchio = "0.8.1"
pinocchio-log = "0.4.0"
pinocchio-pubkey = "0.2.4"
pinocchio-system = "0.2.3"
pinocchio-token = "0.3.0"

# serialization/parsing
serde = { version = "1.0", features = [ "derive" ] }
json = { package = "sonic-rs", version = "0.3" }
borsh = "1.5.7"
humantime = "2.1"

# codec
base64 = "0.12"
bs58 = "0.5"
bincode = "1.3"
zstd = "0.13"

# containers
scc = "2.2.5"
smallvec = { version = "1.13", features = [ "serde" ] }

# logging
tracing = "0.1"

# misc
thiserror = "1.0"
